<div class="borda"><div class="container">
    <h1>API PIX DE TESTE</h1>
    <a class="botoes" href="/criarcob">CRIAR COBRANÇA</a>
    <a class="botoes" href="/consultarcob">CONSULTAR UM PIX</a>
    <a class="botoes" href="/revisarcob">REVISAR COBRANÇAS</a>
    <a class="botoes" href="/gerenciarcob">CONSULTAR PIX RECEBIDOS</a>
    <a class="botoes" href="/gerarpixboleto">GERAR PIX DE BOLETO</a>
</div></div>