<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
    
</head>
<body>
    <header>
        <img src="img/trend_full.png" alt="">
    </header>
    <main>
        <div class="borda"><div class="container">
            <h1>API PIX DE TESTE</h1>
            <button type="button">CRIAR COBRANÇA</button>
            <button type="button">REVISAR COBRANÇAS</button>
            <button type="button">CONSULTAR UM PIX</button>
            <button type="button">CONSULTAR PIX RECEBIDOS</button>
            <button type="button">GERAR QR CODE</button>
        </div></div>
    </main>
    <a>
        
        <a href="https://github.com/lPedru"><i class="fa fa-github-square" id="icon"></i></a>
    </footer>
</body>
</html>