<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>
    
</head>
<body>
    <header>
        <a href="/"><img src="img/trend_full.png" alt=""></a>
    </header>
    <main>
        <%- body %> 
    </main>
    <a>
        
        <a href="https://github.com/lPedru"><i class="fa fa-github-square" id="icon"></i></a>
    </footer>
</body>
</html>