* {
    margin: 0px;
    font-family: 'Roboto Mono', monospace;;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
    background: #131515;
    background: -moz-linear-gradient(top, #131515 0%, #292F36 50%, #131515 100%);
    background: -webkit-linear-gradient(top, #131515 0%, #292F36 50%, #131515 100%);
    background: linear-gradient(to bottom, #131515 0%, #292F36 50%, #131515 100%);
}

img {
    width: 350px;
}

header {
    margin-bottom: 100px;
}

.borda {
    width: 500px;
    padding: 1rem;
    position: relative;
    border-radius: 50px;
    background: linear-gradient(135deg, #FFF275 0%, #F39237 75%, #F39237 100%);
    padding: 3px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #131515;
    border-radius: 50px;
    height: 500px;
    width: 500px;
}

h1 {
    color: rgb(241, 243, 222);
    padding: 1rem;
    padding-top: 0px;
    margin-bottom: 25px;
    width: 308px;
}

button {
    width : 464px;
    padding: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #F39237;
    border: #FFF275;
    color: #292F36;
    font-weight: bolder;
    font-family: 'Hind', monospace;
    font-size: 11pt;
    background: linear-gradient(#FFF275, #F39237 130%);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
}

footer div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.triangulo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 140px solid red;
    border-left: 140px solid transparent;
    z-index: 1;
}

.teste {
    height: 60px;
    width: 60px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#icon {
    margin: 0px;
    padding: 0px;
    color: #FFF275;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 50pt;
}