* {
    margin: 0px;
    font-family: 'Roboto Mono', monospace;;
}

body {
    background: #202424;
}

img {
    width: 150px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    margin: 0;
    background: #131515;
    background: -moz-linear-gradient(top, #131515 0%, #292F36 50%, #131515 100%);
    background: -webkit-linear-gradient(top, #131515 0%, #292F36 50%, #131515 100%);
}

main {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
}

.borda {
    
    padding: 1rem;
    position: relative;
    border-radius: 50px;
    background: linear-gradient(135deg, #FFF275 0%, #F39237 75%, #F39237 100%);
    padding: 3px;
    
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #131515;
    border-radius: 50px;
    padding-bottom: 50px;
    
}

h1 {
    color: rgb(241, 243, 222);
    margin-top: 30px;
}

.botoes {
    width : 464px;
    padding: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #F39237;
    border: #FFF275;
    color: #292F36;
    font-weight: bolder;
    font-family: 'Hind', monospace;
    font-size: 11pt;
    background: linear-gradient(#FFF275, #F39237 130%);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
}

footer div {
    grid-row-start: 1;
    grid-column-start: 1;
}

.teste {
    height: 60px;
    width: 60px;
    padding: 0px;
    margin: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

#icon {
    margin: 0px;
    padding: 0px;
    color: #FFF275;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 50pt;
}

table {
    margin: 30px;
}

th {
    background: linear-gradient(#FFF275, #F39237 130%);
}

td {
    background-color: rgb(86, 89, 90);
    color: white;
}

th, td {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}